.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20p;
    border: 1px solid #888;
    border-radius: 8px;
    width: 600px;
}

.hidden {
    display: none;
}

.inputError {
    background-color: #ffa0a0;
}

.titleDiv {
    border-bottom: 1px solid #ccc;
    
}

.title {
    font-family: sans-serif;
    margin: 12px;
    font-size: 20px;
    color: #555;
    cursor: default;
}

.subtitle {
    margin: 4px 12px 2px;
    font-family: sans-serif;
    font-weight: 200;
    color: #888;
}

#searchField {
    width: 80%;
    border: none;
    padding: 5px;
    margin: 10px;
    border-left: 4px solid purple;
    border-radius: 3px;
    font-size: 18px;
}

.contact {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #0be;
    border: 1px solid #0be;
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    cursor: default;
}

.removeButton {
    cursor: pointer;
}

.mainContainer {
    position: relative;
    margin: 10px;
}

.dropDownContainer {
    height: 235px;
    overflow-y: scroll;
    position: relative;
}

#dropDownElements {

    margin-left: 5px;
    margin-right: 5px;
}

.commentBox {
    margin: 10px;
}

#comment {
    padding: 30px 20px 30px 10px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 7px;
    height: 40px;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
}

.searchContainer {
    border-bottom: 1px solid #ccc;
}

#email {
    border: 1px solid #ccc;
    border-left: 6px solid purple;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.sender {
    position: relative;
    padding: 12px 0px 3px 12px;
    font-family: sans-serif;
    font-size: 18px;
}

.timeStamp {
    position: absolute;
    right: 0;
    bottom: 0; 
    padding: 12px 0px 6px 12px;
    margin-right: 12px;
    font-family: sans-serif;
    color: #aaa;
}

.recipients {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    color: #aaa;
}

.recipientsNumber {
    border: 2px solid #aaa;
    border-radius: 3px;
    padding: 0px 3px 0px;
    margin-right: 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #aaa;
}

.emailContent {
    padding: 0px 10px 5px 12px;
    font-family: sans-serif;
    color: #aaa;
    font-size: 18px;
}


.submitBox {
    margin: 10px;
    height: 35px;
    position: relative;
}

#finalMessage {
    padding: 5px;
    border: 2px solid #16ba10;
    border-radius: 5px;
    position: relative;
    margin: 10px;
    font-family: sans-serif;
    background-color: #b5ffb2;
    
}

#submitButton {
    position: absolute;
    width: 23%;
    background-color: #0be;
    border: 1px solid #0be;
    border-radius: 20px;
    color: white;
    height: 100%;
    bottom: 0;
    right: 0;
    font-size: 19px;
    font-weight: 500;
}

#confirmButton {
    position: absolute;
    width: 23%;
    background-color: #16ba10;
    border: 1px solid #16ba10;
    border-radius: 20px;
    color: white;
    height: 100%;
    bottom: 0;
    right: 0;
    font-size: 19px;
    font-weight: 500;
}
